<div class="modal fade" id="screeningModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 ng-if="form.type == 'add'" class="modal-title">{{msg('prevac.screening.scheduleScreening')}}</h4>
                <h4 ng-if="form.type == 'edit'" class="modal-title">{{msg('prevac.screening.updateScreening')}}</h4>
            </div>
            <div ng-if="form.dto">
                <div class="modal-body">
                    <div class="prevac input-group">
                        <span class="left input-group-addon">{{msg('prevac.screening.name')}}</span>
                        <input id="screeningNameInput" type="text" class="form-control" ng-model="form.dto.name">
                        <span class="input-group-addon validator" ng-class="{'alert-danger': form.dto.name === '', 'alert-success': form.dto.name}"><i class="fa fa-fw fa-check"></i></span>
                    </div>
                    <div class="prevac input-group">
                        <span class="left input-group-addon">{{msg('prevac.date')}}</span>
                        <input id="screeningDateInput" type="text" class="form-control datepicker" readonly='true' mds-date-picker placeholder="{{msg('prevac.datePlaceholder')}}" ng-model="form.dto.date">
                        <span class="input-group-addon validator" ng-class="{'alert-danger': form.dto.date === '', 'alert-success': form.dto.date}"><i class="fa fa-fw fa-check"></i></span>
                    </div>
                    <div class="prevac input-group">
                        <span class="left input-group-addon">{{msg('prevac.startTime')}}</span>
                        <input id="startTimeInput" type="text" class="form-control" mds-time-picker placeholder="{{msg('prevac.startTimePlaceholder')}}" ng-model="form.dto.startTime">
                    </div>
                    <div class="prevac input-group">
                        <span class="left input-group-addon">{{msg('prevac.location')}}</span>
                        <select class="form-control" ui-select2 id="clinicSelect" ng-if="showClinicDropdown()" ng-model="form.dto.clinicId">
                            <option ng-hide="form.dto.clinicId" value="">{{'- ' + msg('prevac.choose') + ' -'}}</option>
                            <option ng-repeat="clinic in clinics" value="{{clinic.id}}" ng-selected="{{clinic.id == form.dto.clinicId}}">{{clinic.location}}</option>
                        </select>
                        <input id="clinicLocation" type="text" ng-if="!showClinicDropdown()" class="form-control" ng-model="form.dto.clinicLocation" readonly="true">
                        <span class="input-group-addon validator" ng-if="showClinicDropdown()" ng-class="{'alert-success': form.dto.clinicId}"><i class="fa fa-fw fa-check"></i></span>
                    </div>
                    <div class="prevac input-group">
                        <span class="left input-group-addon">{{msg('prevac.screening.contactNumber')}}</span>
                        <input id="contactNumberInput" type="text" class="form-control" numbers-only ng-model="form.dto.contactNumber">
                        <span class="input-group-addon validator" ng-class="{'alert-danger': form.dto.contactNumber === '', 'alert-success': form.dto.contactNumber}"><i class="fa fa-fw fa-check"></i></span>
                    </div>
                    <div class="prevac input-group">
                        <span class="left input-group-addon">{{msg('prevac.screening.additionalContact')}}</span>
                        <input id="additionalContactInput" type="text" class="form-control" numbers-only ng-model="form.dto.additionalContact">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <button id="saveBtn" type="button" class="btn btn-primary ng-binding" ng-disabled="!formIsFilled()" ng-click="saveScreening(false)">
                            <i class="fa fa-fw fa-save"></i> {{msg('prevac.save')}}
                        </button>
                        <button id="cancelBtn" type="button" class="btn btn-default" data-dismiss="modal">{{msg('prevac.cancel')}}</button>
                    </div>
                </div>
            </div>
            <div ng-if="!form.dto">
                <div id="addScreeningMessage" ng-if="form.type == 'add'" class="modal-body">
                    {{msg('prevac.screening.scheduleSuccessful', screeningForPrint.volunteer.id)}}
                </div>
                <div ng-if="form.type == 'edit'" class="modal-body">
                    {{msg('prevac.screening.updateSuccessful')}}
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group">
                        <button id="printBtn" type="button" class="btn btn-primary ng-binding" ng-click="printRow(-1)">
                            <i class="fa fa-fw fa-print"></i> {{msg('prevac.screening.printCard')}}
                        </button>
                        <button ng-if="form.type == 'add'" type="button" class="btn btn-success ng-binding" ng-click="addScreening()">
                            <i class="fa fa-fw fa-plus"></i> {{msg('prevac.screening.addAnother')}}
                        </button>
                        <button id="closeBtn" type="button" class="btn btn-default" data-dismiss="modal">{{msg('prevac.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>